<h5>Exemplos Pipes</h5>

<p>Título: {{livro.titulo | uppercase | camelCase}}</p>
<p>Estrelas: {{livro.rating | number: '1.1-1'}}</p>
<p>Páginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency: 'BRL': true}}</p>
<p>Data de Lançamento: {{livro.dataLancamento | date}}</p>

<p>Livro: {{livro | json}}</p>


<input type="text" [(ngModel)]="filter">
<input type="" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>
<button (click)="tiraCurso()">Remove Curso</button>

<ul *ngFor="let liv of livros | filtroArrayImpuro:filter">
  <li>
    {{liv}}
  </li>
</ul>

<p>{{valueAsync | async}}</p>
