<!-- <p FundoAmarelo>Texto com fundo amarelo.</p>
<button
  FundoAmarelo
  (click)="mudando()"
  [ngStyle]="{
    backgroundColor: mudarCor ? 'green' : 'yellow'
  }"
>
  Botão com fundo amarelo.
</button>

<p appHighlightMouse>Texto com highlight quando passar o mouse</p>
<p appHighlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight quando passar o mouse
</p> -->

<div *ngIf="mostrarCursos">Lista Cursos aqui.</div>
<div *NgElse="mostrarCursos">Não existem cursos para serem listados.</div>
<br />
<button (click)="MostrarCursos()">Mostrar Cursos</button>
