<!-- <app-diretiva-ngIf></app-diretiva-ngIf> -->
<!-- <app-diretivaNgFor></app-diretivaNgFor> -->
<!-- <app-diretivaNgSwitch></app-diretivaNgSwitch> -->
<!-- <app-diretivaNgClass></app-diretivaNgClass> -->
<!-- <app-diretivaNgStyle></app-diretivaNgStyle> -->
<!-- <app-operadorElvis></app-operadorElvis> -->
<!-- <app-exemplo-ngContend>
  <div class="titulo">Titulo do Painel</div>
  <div class="corpo">Conteúdo passado para o componente.</div>
</app-exemplo-ngContend> -->
<app-diretivasCustomizadas></app-diretivasCustomizadas>
